body {
    background-image: url('media/neon.jpg');
    background-color: purple;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 500px;
}
.button{
    border: 4px groove purple;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    color:red;
    background-color: transparent;
    height:30px;
    width:200px;
    outline: none;
}
.text{
    color:red;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border-radius: 12px;
    height:30px;
    width:200px;
    outline: none;
}
input[type='text']::placeholder,input[type='number']::placeholder, input[type='password']::placeholder, textarea::placeholder{
    color:gray;
    font-weight: bold;
    text-align: center;
}
input:hover, textarea:hover, button:hover, .navitem:hover{
    background-color: cyan;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.center{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.hide{
    display:none;
}
.styled{
  color:red;
  font-weight: bold;
  text-align: center;
}
.menu{
    position:fixed;
    top:10px;
    left:10px;
    z-index: 500;
}
.navitem{
    background-color: violet;
    border: 3px groove purple;
    margin-left: 3px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    outline: none;
}
.gameitem{
    display: inline-block;
    width: 44vw;
    margin: 1vw 1vw 2vw 1vw;
    padding: 10px;
    border: 5px solid purple;
}
.gameimg{
    height: 50vh;
    width: 100%;
}

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 92vh;
    width: 100vw;
  }
  .each-fade {
    display: flex;
  }
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  .each-fade .image-container img {
    width: 100%;
  }
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #adceed;
  }

.games-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 50px 30px;
  justify-content: center;
  align-content: center;
}
footer {
 margin-bottom: 0;
}
.main{
  width: 100%;
  text-align: center;
}
#signIn, #signUp {
  display: inline-block;
  margin: 0 auto;
}
#menu{
  position:fixed;
  top: 0;
  left: 0;
} 
.nav{
  background-color: violet;
  border: 3px groove purple;
  border-radius: 90px;
  height: 50px;
  width: 50px;
  outline: none;
}